@model IEnumerable<CoreRegSite.Participant>
@{
    ViewBag.Title = "Participants";
}

<ul>
@foreach (var item in Model)
{
    <li>email: @item.ParticipantEmail name:  @item.ParticipantFirstName</li>
}
</ul>
YAAAAAAAAAAAAAAAA
<h1>YAAAAAAAAAAAAAA</h1>
