@model IEnumerable<CoreRegSite.Models.SimpleUserModel>
@{
    ViewBag.Title = "Participants";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreRegSite</title>
</head>
<body>
    
    <table class="table table-striped table-light table-hover table-bordered">
        <tbody>
            @foreach (var item in Model)
            {
                <tr> 
                    <td>@item.ParticipantFirstName</td> 
                    <td>@item.ParticipantSecondName</td> 
                    <td>@item.ParticipantActivity</td>
                </tr>
            }
        </tbody>
    
</body>
</html>