@{
    ViewData["Title"] = "Home Page";
}

<div class="container main-container">
    <div class="row yellow-row">
        <div class="col-sm col-lg-12 col-md-12 yellow-row-descr">
            <div class="descr">
                <h3 class="day">апрель 5-8 / Киев</h3>
                <h1 class="name">Городской фестиваль</h1>
            </div>
        </div>
            <div class="t-cover__arrow">
                <div class="t-cover__arrow-wrapper t-cover__arrow-wrapper_animated">
                    <div class="t-cover__arrow_mobile">
                        <a class="scrollto" href="#second">
                            <svg class="t-cover__arrow-svg" style="fill:#fcf9f9;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592">
                                <g>
                                    <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div> 
    </div>

    <div class="row second-row">
        <div id="second" class="col-lg-6 col-md-8 col-sm-10 second-row-descr">
            Ежегодный весенний фестиваль с винтажными лавками, музыкой и современным искусством. 
            Вы увидите живые выступления актеров, попробуете местной еды и запустите сотни небесных фонарей!
        </div>
    </div>

    <div class="row third-row m-0 p-0">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="item m-0">
            <h2><b>4 дня</b></h2>
            <hr class="third_row_hr">
            <h3>Каждый день мы представляем новую программу</h3>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="item m-0">
                <h2><b>300 участников</b></h2>
                <hr class="third_row_hr">
                <h3>В фестивале участвуют артисты, музыканты, художники и повара</h3>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="item m-0">
                <h2><b>6 сцен</b></h2>
                <hr class="third_row_hr">
                <h3>На каждой площадке города своя программа</h3>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="item m-0">
                <h2><b>9 площадок</b></h2>
                <hr class="third_row_hr">
                <h3>Выбирайте любую удобную точку для празднования</h3>
        </div>
    </div>
</div>

<div class="row programm-row">
        <div class="col-lg-6 col-md-8 col-sm-10 programm-row-descr">
            <h2><b>Программа фестиваля</b></h2>
            Мы активно насыщаем программу: устраиваем игры и конкурсы для детей, играем музыку и делаем световые представления
        </div>
</div>

<div class="row programm-pictures-row">
    <div class="container container-cpl-pctrs col-lg-8 col-md-10 col-xs-10">
        <div class="col-lg-6 col-md-8 col-sm-10 program-vinyl-row-context">
            <div class="gradient">
                Винтажные распродажи <span class="lil-font">(5-8 марта)</span>
            </div>
        </div>
    </div>
</div>

<div class="row programm-couple-pictures-row">
    <div class="container container-cpl-pctrs col-lg-8 col-md-10 col-xs-10 p-0">
        <div class="col-lg-5 col-md-8 col-sm-12 program-donut-row-context">
            <div class="gradient">
                Маркет еды <span class="lil-font">(5-8 марта)</span>
            </div>
        </div>
        <div class="col-lg-5 col-md-8 col-sm-12 program-smoke-row-context">
            <div class="gradient">
                Стрит-арт конкурсы <span class="lil-font">(6,8 марта)</span>
            </div>
        </div>
    </div>
</div>

<div class="row programm-pictures-row">
    <div class="container container-cpl-pctrs col-lg-8 col-md-10 col-xs-10">
        <div class="col-lg-6 col-md-8 col-sm-10 program-singer-row-context">
            <div class="gradient">
                MILL MAC<span class="lil-font">(7 марта / SkyPark / 22:30)</span>
            </div>
        </div>
    </div>
</div>

