@media (min-width: 1000px){
    .yellow-row-descr{
        height: 915px;
    }
    .descr .name{
        font-size: 100px;
    }
    .second-row-descr{
        font-size: 30px;
    }
    .third-row{
        padding: 0 200px 50px 200px;
    }
    .programm-row-descr{
        font-size: 30px;
    }
    .program-vinyl-row-context{
        width: 100%
    }
    .program-donut-row-context{
        width: 47%;
        margin-right: auto;
    }
    .program-smoke-row-context{
        width: 47%;
        margin-left: auto;
    }
    .program-singer-row-context{
        width: 100%
    }
    .map{
        height: 800px;
    }
    .form-container{
        width: 30%
    }
    .syr-bckg p{
        width: 40%;
    }
    .partners-table td img{
        width: 200px;
        height: 200px
    }
    .partner-img{
        padding: 0 20px
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    .yellow-row-descr{
        height: 715px;
    }
    .descr .name{
        font-size: 60px;
    }
    .second-row-descr{
        font-size: 30px;
    }
    .third-row{
        padding: 0 100px 50px 100px;
    }
    .programm-row-descr{
        font-size: 30px;
    }
    .program-vinyl-row-context{
        width: 100%
    }
    .program-donut-row-context{
        width: 100%;
        margin-bottom: 25px
    }
    .program-smoke-row-context{
        width: 100%;
        margin-top: 25px
    }
    .program-singer-row-context{
        width: 100%
    }
    .map{
        height: 400px;
    }
    .form-container{
        width: 70%
    }
    .syr-bckg p{
        width: 70%;
    }
    .partners-table td{
        width: 160px;
        height: 160px
    }
    .partner-img{
        padding: 0
    }
}
@media (min-width: 100px) and (max-width: 700px) {
    .yellow-row-descr{
        height: 500px;
    }
    .descr .name{
        font-size: 40px;
    }
    .second-row-descr{
        font-size: 25px;
    }
    .third-row{
        padding: 0 60px 50px 60px;
    }
    .programm-row-descr{
        font-size: 25px;
        margin: 0 20px
    }
    .program-vinyl-row-context{
        width: 100%
    }
    .program-donut-row-context{
        width: 100%;
        margin-bottom: 25px
    }
    .program-smoke-row-context{
        width: 100%;
        margin-top: 25px
    }
    .program-singer-row-context{
        width: 100%
    }
    .map{
        height: 400px;
    }
    .form-container{
        width: 90%
    }
    .syr-bckg p{
        width: 90%;
    }
    .partners-table td img{
        width: 100px;
        height: 100px
    }
}
html {
    scroll-behavior: smooth;
  }
  body{
      margin: 0;
      padding: 0;
      height: 100%;
  }
.main-container{
    width: 100%;
    height: 100%;
    padding: 0;
}
/*first row*/
.yellow-row{ 
    background-image: url('../images/firstBckg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
}
.yellow-row-descr{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    color: white;
    margin: 0;
    background-color: rgba(206, 39, 95, 0.301);
}
.descr{
    text-align: center;
}
.descr .day{
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.descr .name{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*arrow start*/
.t-cover__arrow {
    display: inline-block;
    height: 4%;
    width: 100%;
    z-index: 9;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: rgba(206, 39, 95, 0.301);
}
.t-cover__arrow-wrapper { 
    display: inline-block;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}
@keyframes t-arrow-bottom {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-7px);
    }
    55% {
        transform: translateY(-7px);
    }
    100% {
        transform: translateY(-7px);
    }
}  
.t-cover__arrow-wrapper_animated {
    animation: t-arrow-bottom  1s infinite ease;
    animation-direction: alternate;
}
/*arrow end*/

/*second row*/
.second-row{
    height: 400px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.second-row-descr{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*third row*/
.third-row{
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
}
.third_row_hr{
    width: 100%;
    border: 1px solid rgba(194, 83, 31, 0.712);
    border-radius: 50px;
    box-shadow: 0 0px 5px rgba(255, 0, 0, 0.5);
}
.item{
    width: 100%;
}
.item h2{
    font-size: 35px;
}

/*programm*/
.programm-row{
    height: 400px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: rgba(231, 231, 231, 0.596);
}
.programm-row-descr{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.lil-font{
    font-size: 20px;
}
/*pictures*/
.programm-pictures-row{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center !important;
    background-color: rgba(231, 231, 231, 0.596);
}
.program-vinyl-row-context{
    background-image: url('../images/progImg1.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    padding: 0;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.gradient{
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.205), rgba(0, 0, 0, 0.781));
    transition: all ease-in-out 1s;
    font-size: 40px;
    color: white;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 20px
}
.gradient:hover {
    opacity: 60%;
    transition: 2s;
  }
  /*program*/
  .programm-couple-pictures-row{
    width: 100%;
    margin: 0;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(231, 231, 231, 0.596);
  }
  .container-cpl-pctrs{
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center !important;
    flex-wrap: wrap !important;
    justify-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .program-donut-row-context{
    background-image: url('../images/progImg2.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    padding: 0;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
  }
  .program-smoke-row-context{
    background-image: url('../images/progImg3.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    padding: 0;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
  }
  .program-singer-row-context{
    background-image: url('../images/progImg4.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    padding: 0;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
  .program-vinyl-row-context:hover, 
  .program-donut-row-context:hover, 
  .program-smoke-row-context:hover,
  .program-singer-row-context:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/*map*/
.map-row{
    margin: 0;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    
}
.map-descr{
    text-align: center;
    margin: 0 0 40px 0
}
.map-descr h1{
    font-size: 60px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.map-descr p{
    line-height: normal;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(136, 135, 136);
}
.map{
    width: 100%;
    border: 5px solid rgb(238, 238, 238);
    border-radius: 10px;
    padding: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*from*/
.form-row{
    margin: 0;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    background-color: rgba(231, 231, 231, 0.596);
}
.form-descr{
    text-align: center;
    margin: 0 0 40px 0
}
.form-descr h1{
    font-size: 55px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.form-descr p{
    line-height: 1;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}

/*from*/
.btn-send{
    width: 100%;
    background-color: rgba(255, 174, 0, 0.856);
    border-radius: 10px;
    height: 70px;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    transition: 1s;
}
.btn-send:hover{
    background-color: rgb(255, 102, 0);
}

/*errors*/
.error-container{
    background-color: rgba(255, 30, 0);
}
.field-validation-error {
    color: rgb(255, 147, 147);
} 
.field-validation-valid { 
    display: none;
} 
.input-validation-error{ 
    border: 1px solid #f00; 
    background-color: rgb(253, 253, 253); 
} 
.validation-summary-errors { 
    font-size: 26px;
    color: rgb(255, 255, 255);   
} 
.validation-summary-errors ul{
    list-style: none;
    text-align: center;
}
.validation-summary-valid { 
    display: none;
}

/*second yellow row*/
.sec-yellow-row{
    background-image: url('../images/mainBckg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100%;
    font-size: 40px;
}
.syr-bckg{
    width: 100%;
    background-color: rgba(255, 217, 0, 0.534);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 15% 0
}
.syr-bckg p{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

/*partners*/
.partners-row{
    margin: 0;
    padding: 5%;
}
.pr-descr{
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.prtnr-img-container{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 20px;
    padding: 0;
}
.partners-table{
    border-collapse: collapse;
}
.partners-table tr:first-child{
    border-bottom: 1px solid rgb(196, 196, 196);
}
.partners-table td:nth-child(2), .partners-table td:nth-child(3){
    border-right: 1px solid rgb(196, 196, 196);;
    border-left: 1px solid rgb(196, 196, 196);;
}
.partner-img{
    text-align: center;
    background-size: contain;
    -webkit-transition: -webkit-transform 2s ease-in-out;
    transition:  transform 2s ease-in-out;
}
.partner-img img{
    border-radius: 50%;
}
.partner-img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}